/******************************************Navbar CSS************************************************ */
.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: var(--white);
  top: 0;
  z-index: 999;
}

.loader img {
  animation: heartbeat 5s ease-in-out infinite;
  transform-origin: center;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.3);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.uk-navbar {
  height: 70px;
}

.uk-main-header-transparent {
  z-index: 1;
  width: 100%;
  display: block;
  background-color: #fff;
}


.uk-main-header-transparent .uk-navbar-nav>li>a {
  color: var(--black);
  height: 70px;
}

.uk-navbar-nav {
  gap: 40px;
}

.uk-navbar-item,
.uk-navbar-nav>li>a,
.uk-navbar-toggle {
  font-family: "Poppins", sans-serif;
}

.uk-navbar-toggle-animate svg>[class*="line-"] {
  fill: var(--secondary);
}

.uk-main-header-transparent .uk-dropbar .uk-container {
  border-top: 1px solid rgb(255 255 255 / 15%);
}

.uk-sticky.uk-sticky-below.uk-sticky-fixed .uk-main-header-transparent .uk-dropbar .uk-container {
  margin-top: 0;
  padding: 0;
  border: 0;
}

.uk-navbar-container.uk-navbar-transparent.uk-navbar-sticky {
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.uk-navbar-nav>li>a:active {
  color: var(--secondary);
}

.uk-navbar-dropdown {
  position: absolute;
  top: 68px !important;
  padding: 8px 17px 17px;
  border-bottom: 3px solid var(--secondary);
}

.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a[aria-expanded="true"],
.uk-navbar-dropdown-nav>li>a:hover,
.uk-navbar-dropdown-nav>li.uk-active>a {
  color: var(--secondary);
}

.uk-navbar-nav>li>a {
  color: var(--black);
  position: relative;
  min-height: 70px;
  font-weight: 500;
  font-size: 15px;
}

.uk-sticky.uk-sticky-below.uk-sticky-fixed .uk-navbar-nav>li>a {
  color: var(--black);
}

.uk-navbar-nav>li:hover>a::before,
.uk-navbar-nav>li>a[aria-expanded="true"]::before {
  left: var(--uk-navbar-nav-item-line-margin-horizontal);
  right: var(--uk-navbar-nav-item-line-margin-horizontal);
  opacity: 1;
}

.uk-navbar-nav>li>a::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 2px;
  background-color: transparent;
  transition: 0.5s ease-in-out;
  transition-property: background-color, border-color, box-shadow, height, left,
    right, opacity;
  --uk-navbar-nav-item-line-margin-horizontal: 0;
  left: var(--uk-navbar-nav-item-line-margin-horizontal);
  left: 50%;
  right: 50%;
  background: var(--secondary);
  opacity: 0;
}

.uk-navbar-dropdown-nav>li {
  position: relative;
  padding: 5px 0;
  border-bottom: 1px solid #8080801f;
}

.uk-navbar-dropdown-nav>li>a {
  text-transform: uppercase;
}

.uk-navbar-dropdown-nav>li>a:hover {
  color: var(--secondary)
}

.uk-navbar-dropdown-nav>li.uk-active:before {
  content: ">";
  position: absolute;
  right: 0;
  top: 0;
  color: var(--secondary);
  font-weight: bold;
  font-size: 20px;
  line-height: 36.25px;
}

.uk-nav.uk-nav-divider> :not(.uk-nav-header, .uk-nav-divider)+ :not(.uk-nav-header, .uk-nav-divider) {
  border-color: rgb(0 0 0 / 12%);
}

.uk-nav-primary li a {
  padding: 8px 40px;
  font-size: 17px;
}

.uk-nav-primary>li>a {
  color: var(--black);
}

.uk-nav-primary>li>a:hover,
.uk-nav-primary>li>a:focus,
.uk-nav-primary>li.uk-active a {
  color: var(--secondary);
}

.uk-can-btn {
  padding: 0px 11px !important;
  border-color: var(--primary) !important;
  background: var(--primary) !important;
  color: var(--white) !important;
  border-radius: 6px !important;
}

.uk-offcanvas-header {
  background-color: var(--white);
  padding-left: 15px;
}

.uk-offcanvas-close {
  background: #342f7f;
  color: white !important;
  padding: 10px;
  border-radius: 6px;
  top: 18px;
}

.uk-offcanvas-nav {
  list-style: none;
  padding: 0;
}

.uk-offcanvas-nav li a {
  font-weight: 600;
  color: #616161;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
  font-size: 17px;
}

.uk-offcanvas-nav li {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}

.uk-offcanvas-nav li a:hover {
  color: var(--secondary);
}

/******************************************End  Navbar CSS************************************************ */
/* homepage */

/* banner section  */
.uk-homepage-banner {
  height: 100vh;
}
@media (max-width: 510px) {
 .uk-homepage-banner {
  height: 95vh;
}
}
.uk-banner-overlay {
  background-color: #21202070;
}

.uk-detail-overlay {
  background-color: #212020cc;
}

.mute-toggle {
  display: none;
}

/* about section */
.uk-about-img {
  border-bottom-left-radius: 132px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 530px;
  width: 100%;
  object-fit: cover;
}

.uk-circle-section {
  display: flex;
  justify-content: end;
  margin-top: -88px;
  margin-right: -13px;
}

.uk-circle-inner-section {
  border-radius: 100%;
  background-color: var(--secondary);
  height: 110px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid white;
}

.uk-circle-inner-section p {
  color: white;
  text-align: center;
  font-size: 23px;
  margin: 0;
  font-weight: 600;
  line-height: 24px;
}

.four-line {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.two-line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* commitment section */
.uk-commit-img img {
  border-radius: 100%;
  height: 170px;
  width: 180px;
  object-fit: cover;
}

.uk-commit-text h3 {
  transition: 0.3s ease-in;
}

.uk-commit-text h3:hover {
  color: var(--secondary) !important;
}

.uk-dotnav>.uk-active>* {
  background-color: var(--primary);
}

.uk-dotnav>*>* {
  background-color: #6b6b6b;
}

.uk-prev-btn,
.uk-next-btn {
  background-color: var(--primary);
  color: white;
  border-radius: 5px;
  margin-top: -8px;
}

.uk-prev-btn:hover,
.uk-next-btn:hover {
  background-color: var(--primary);
  color: white;
}

/* quality section */
.timeline {
  position: relative;
  padding-left: 60px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 34px;
  top: 0;
  bottom: 0;
  width: 2px;
  border-left: 2px dashed #ccc;
}

.timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  position: relative;
}

.timeline-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 22px;
  position: absolute;
  left: 0;
  z-index: 1;
  border: 5px solid #efeef5;
}

.icon-blue {
  background: var(--primary);
}

.icon-green {
  background: var(--secondary);
}

.timeline-content {
  background: #efeef5;
  padding: 15px 20px;
  border-radius: 8px;
  margin-left: 70px;
  flex: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--primary);
  font-size: 22px;
  margin-left: 82px;
  line-height: 22px;
}

.timeline-number {
  font-weight: bold;
  font-size: 18px;
  color: var(--secondary);
  margin-right: 8px;
}

.uk-strenght-img {
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 389px;
  width: 100%;
  object-fit: cover;
}

.uk-circle-section1 {
  display: flex;
  margin-top: -88px;
  margin-left: -5px;
}

.uk-circle-inner-section1 {
  border-radius: 100%;
  background-color: var(--secondary);
  height: 110px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid white;
}

.uk-circle-inner-section1 p {
  color: white;
  text-align: center;
  font-size: 17px;
  margin: 0;
  font-weight: 600;
  line-height: 23px;
}

/* video section */
.uk-video-section iframe {
  height: 390px;
  width: 100%;
}

/* vision section */
.uk-vision-section {
  background: linear-gradient(90deg,
      rgba(52, 47, 127, 0.91) 100%,
      rgba(52, 47, 127, 0.81) 0%),
    url(../img/vision.jpg);
}

/* blog section */
.uk-blog-text h2:hover {
  color: var(--secondary);
}

.uk-blog-section {
  width: 100%;
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
}

.uk-blog-section-img {
  height: 245px;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 17px;
  border-top-left-radius: 17px;
}

.uk-blog-small-img {
  height: 90px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.uk-inner-banner {
  height: 60vh;
  width: 100%;
}

.uk-detail-banner {
  height: 40vh;
  width: 100%;
}

.uk-inner-banner img,
.uk-detail-banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/******************************* product list page*********************************/
.secondary-block {
  background-color: var(--secondary);
  height: 65px;
  width: 100%;
}

.primary-block {
  background-color: var(--primary);
  height: 65px;
  width: 100%;
}

.product-img {
  background-color: white;
  padding: 20px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.product-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.product-name {
  background-color: #b8b6d2;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.product-name {
  color: var(--secondary);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.product-name h3 {
  text-transform: capitalize !important;
  transition: 0.3s ease-in-out;
}

.product-name h3:hover {
  color: var(--primary);
}

.uk-product-sidebar {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

.uk-sidebar-list {
  padding: 12px;
  border-bottom: 1px solid #e5e5e5;
}

.uk-sidebar-list h3 {
  text-transform: capitalize !important;
  font-size: 16px;
}

.uk-sidebar-list span {
  color: #333;
}

.uk-sidebar-list:hover {
  transition: 0.3s ease-in-out;
  background-color: var(--secondary);
}

.uk-sidebar-list:hover h3,
.uk-sidebar-list:hover span {
  color: white;
}

.uk-pagination>*>* {
  color: #333;
  font-size: 17px;
}

.uk-pagination>.uk-active>* {
  color: var(--primary);
  font-weight: 900;
  text-decoration: underline;
}

.uk-prev-page,
.uk-next-page {
  background-color: var(--primary);
  color: white;
  border-radius: 5px;
  margin-top: -8px;
  padding: 10px;
  margin: 0 9px;
  transition: 0.3s ease;
}

.uk-prev-page:hover,
.uk-next-page:hover {
  background-color: var(--secondary);
  color: white;
}

/******************************* product detail page*********************************/
.uk-decription>.uk-active>a {
  background: var(--secondary) !important;
}

.uk-subnav li a {
  padding: 10px 17px !important;
  border-radius: 15px 15px 0 0 !important;
  font-size: 16px !important;
  font-weight: 500;
}

.uk-subnav-pill>*> :first-child {
  color: #333;
}

@media (max-width: 510px) {
  .uk-subnav {
    display: block;
  }

  .uk-subnav li a {
    border-radius: 0 !important;
    border-top: 1px solid #9e9e9e75;
    border-left: 1px solid #9e9e9e75;
    border-right: 1px solid #9e9e9e75;
  }
}

.uk-decription-content {
  border: 1px solid #9e9e9e75;
}

.heading {
  color: var(--primary);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.uk-detail-img1 {
  background-color: #efeef5;
  border-radius: 17px;
  height: 350px;
}

.uk-detail-img1 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.uk-grid-img {
  height: 340px;
  width: 100%;
  object-fit: cover;
}

.uk-grid-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.uk-detail-img {
  border-bottom-left-radius: 132px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 430px;
  width: 100%;
  object-fit: cover;
}

/******************************* msiion detail page*********************************/
.h-300 {
  height: 300px;
}

.primary-circle {
  background-color: var(--secondary);
  height: 80px;
  width: 80px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -38px;
  margin-bottom: -29px;
  z-index: 5;
}

.secondary-circle {
  background-color: var(--primary);
  height: 80px;
  width: 80px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -68px;
  margin-bottom: -23px;
  z-index: 5;
}

/******************************* career detail page*********************************/
.bold-font {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
}

.career-table td {
  max-width: 500px;
}

.career-head {
  background-color: var(--primary);
  color: white;
}

.career-head tr th {
  color: white;
  font-size: 17px;
  font-weight: 500;
}

.dialog-header {
  background-color: var(--primary);
  padding: 12px;
}

.dialog-header h3 {
  font-size: 18px !important;
  font-weight: 600 !important;
  color: white;
}

.custom-upload {
  padding: 11px;
  margin-top: 10px;
}

/******************************* blog detail page*********************************/
.uk-blog-detail-img {
  height: 450px;
  width: 100%;
}

.uk-blog-detail-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog-sidebar-heading {
  background-color: #c2c6dd;
  font-size: 18px;
  padding: 14px;
  font-weight: 600;
}

/******************************* contact page*********************************/
.contact-box {
  height: 50px;
  width: 50px;
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box i {
  font-size: 26px !important;
  color: white;
}

/* footer */
.uk-footer-ul {
  list-style: none;
  padding: 0;
}

.uk-footer-ul li {
  margin-bottom: 8px;
}

.uk-footer-ul li a {
  color: white;
}

.uk-footer-ul li a:hover {
  color: var(--secondary);
}

.uk-icon-button {
  background-color: var(--primary);
  color: white;
}